version: '3.8'

services:
  coqui-tts:
    image: ghcr.io/coqui-ai/tts-cpu
    container_name: coqui-tts-server
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "pip install --upgrade setuptools && 
       python3 TTS/server/server.py
       --model_name tts_models/en/vctk/vits"
    ports:
      - "5002:5002"
    restart: unless-stopped
    volumes:
      - ./tts_cache:/root/.local/share/tts
    environment:
      - PYTHONUNBUFFERED=1