@page "/cards/create"
@using Microsoft.EntityFrameworkCore
@using FlashCardPlus.Domain.Models
@inject IDbContextFactory<FlashCardPlus.Data.DataContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Card</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Card" OnValidSubmit="AddCardToDeck" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="front" class="form-label">Front:</label> 
                <InputText id="front" @bind-Value="Card.Front" class="form-control" /> 
                <ValidationMessage For="() => Card.Front" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="back" class="form-label">Back:</label> 
                <InputText id="back" @bind-Value="Card.Back" class="form-control" /> 
                <ValidationMessage For="() => Card.Back" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/cards">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Card Card { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddCardToDeck()
    {
        using var context = DbFactory.CreateDbContext();
        var newCard = context.Cards.Add(Card);

        var deck = context.Decks.FirstOrDefaultAsync().Result;

        deck.Cards.Add(newCard.Entity);
        context.Decks.Update(deck);

        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/cards");
    }
}
