@page "/cards/details"
@using Microsoft.EntityFrameworkCore
@using FlashCardPlus.Domain.Models
@inject IDbContextFactory<FlashCardPlus.Data.DataContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Card</h2>
    <hr />
    @if (card is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Front</dt>
            <dd class="col-sm-10">@card.Front</dd>
            <dt class="col-sm-2">Back</dt>
            <dd class="col-sm-10">@card.Back</dd>
        </dl>
        <div>
            <a href="@($"/cards/edit?id={card.Id}")">Edit</a> |
            <a href="@($"/cards")">Back to List</a>
        </div>
    }
</div>

@code {
    private Card? card;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        card = await context.Cards.FirstOrDefaultAsync(m => m.Id == Id);

        if (card is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
