@page "/cards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FlashCardPlus.Domain.Models
@using FlashCardPlus.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FlashCardPlus.Data.DataContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="cards/create">Create New</a>
</p>

@if (context == default)
{
    <p>carregando...</p>
}
else
{
    <QuickGrid Class="table" Items="context.Cards">
        <PropertyColumn Property="card => card.Front" />
        <PropertyColumn Property="card => card.Back" />

        <TemplateColumn Context="card">
            <a href="@($"cards/edit?id={card.Id}")">Edit</a> |
            <a href="@($"cards/details?id={card.Id}")">Details</a> |
            <a href="@($"cards/delete?id={card.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private DataContext context = default!;

    protected override async Task OnInitializedAsync()
    {
        context = await DbFactory.CreateDbContextAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}