@page "/decks"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FlashCardPlus.Domain.Models
@using FlashCardPlus.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FlashCardPlus.Data.DataContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="decks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Decks">
    <PropertyColumn Property="deck => deck.Name" />

    <TemplateColumn Context="deck">
        <a href="@($"decks/edit?id={deck.Id}")">Edit</a> |
        <a href="@($"decks/details?id={deck.Id}")">Details</a> |
        <a href="@($"decks/delete?id={deck.Id}")">Delete</a> |
        <a href="@($"decks/start?id={deck.Id}")">Começar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DataContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
