@page "/decks/start"
@using Microsoft.EntityFrameworkCore
@using FlashCardPlus.Domain.Models
@inject IDbContextFactory<FlashCardPlus.Data.DataContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Start Deck</PageTitle>

<h1>Start Deck: @deck.Name</h1>

<div>
    <p>
        @card.First().Front
    </p>
</div>


@code {
    private Deck? deck;
    private List<Card>? card;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        deck = await context.Decks.Include(deck => deck.Cards).FirstOrDefaultAsync(m => m.Id == Id);

        if (deck is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        card = deck?.Cards;

        if (card is null)
        {
            NavigationManager.NavigateTo("notfound card");
        }

    }
}
