@page "/"
@using FlashCardPlus.Data
@using FlashCardPlus.Domain.Models

@if (DeckList == null)
{

}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var deck in DeckList)
        {
            <tr>
                <td>@deck.Id</td>
                <td>@deck.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private readonly DataContext _deckRepositoy;
    private List<Deck>? DeckList;

}
