# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
    id-token: write   # This is required for requesting the JWT
    contents: read

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Install AWS CLI
      run: dotnet tool install -g Amazon.Lambda.Tools
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: sa-east-1
    - name: Build
      run: dotnet build --no-restore
    - name: Display current directory structure
      run: ls -R ./
      
    - name: console pwd
      run: pwd && ls 

    - name: Deploy to AWS Lambda
      run: dotnet lambda deploy-function --project-location /home/runner/work/Lambda-aws/Lambda-aws/MinhaPrimeiraLambda/src/MinhaPrimeiraLambda