bin/**
obj/DominandoEFCore.csproj.nuget.dgspec.json
obj/DominandoEFCore.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/apphost
obj/Debug/net7.0/DominandoEFCore.AssemblyInfo.cs
obj/Debug/net7.0/DominandoEFCore.AssemblyInfoInputs.cache
obj/Debug/net7.0/DominandoEFCore.assets.cache
obj/Debug/net7.0/DominandoEFCore.csproj.AssemblyReference.cache
obj/Debug/net7.0/DominandoEFCore.GeneratedMSBuildEditorConfig.editorconfig
