# Environment variables (sensitive data)
.env

# Kubeconfig files (may contain sensitive data)
cogcs.yml
cogcs.yml.bak
*.yml
*.yaml
*.yml.bak
*.yaml.bak


# Python
__pycache__/
*.py[cod]
*$py.class
.Python